/* styles/fonts.css */

@font-face {
    font-family: 'AirbnbCerealApp';
    src: url('/fonts/AirbnbCereal_W_Bd.otf') format('otf'),
         url('/fonts/AirbnbCereal_W_Bk.otf') format('otf'),
         url('/fonts/AirbnbCereal_W_Blk.otf') format('otf'),
         url('/fonts/AirbnbCereal_W_Lt.otf') format('.otf'),
         url('/fonts/AirbnbCereal_W_Md.otf') format('.otf'),
         url('/fonts/AirbnbCereal_W_XBd.otf') format('.otf'); 
    font-weight: normal;
    font-style: normal;
}