@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './fonts.css';

@layer {
  /* ::-webkit-scrollbar {
    @apply w-1 bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-900 h-[30%] rounded-lg;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  } */
}

input[type="password"]::-ms-reveal {
  display: none;
}

input[type="searchBox"]::-ms-reveal {
  outline: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
